.form_container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}
form {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: 10px 0;
}
button {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10 10;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}
.hover-me{
  background-color: black;
  color: aliceblue;
  padding: 10px;
}
.car { text-align: center;
  background-color: #4caf50;
  max-width: 200px;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
}
.main-container {
  display: flex;
  flex-direction: row;
}